@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.carousel-dots span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-dots span.active {
    background-color: white;
}

/* Button Styling */
/* Button Styling */
.diabetic-btn {
    padding: 0.5em 1.5em;
    /* Adjust padding for dynamic sizing */
    min-width: 10em;
    margin-top: 100px;
    /* Minimum width for short text */
    background-color: rgba(0, 0, 0, 0.371);
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: color 0.5s, padding 0.3s ease;
    /* Smooth transition for padding */
    text-align: center;
    white-space: nowrap;
    /* Prevent text wrapping */
}

.diabetic-btn:hover {
    color: black;
}

.diabetic-btn:after {
    content: "";
    background-color: rgba(255, 255, 255, 0.247);
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.diabetic-btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}